
/* ----------------------------------------------------------
 --------------------------- Main --------------------------- 
 ------------------------------------------------------------ */

.fila{
    position: relative;
    margin: auto;
    text-align: center;

}
.fila h2{
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

.canciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.5rem;
    margin: auto;
    padding-left: 1rem;
    padding-right: 0.5rem;

}

.cancion{
    text-align: center;
    background-color: var(--principal);
    border-radius: 1rem;
    height: 18rem;
    max-width: 12rem;
    min-width: 12rem;

}

.cancion .imagen_cancion{
    height: 12rem;
    width: 12rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

@media (max-width:1600px ) {
    .canciones {
        gap: 2rem;
    }
}

.cancion h3 {
    position: relative;
    top: -3.5rem;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.4rem;
    color: var(--colorLetra1);
    padding: 0 1rem;
}

.cancion:hover .imagen_cancion{
    width: 12.5rem;
    height: 12.5rem;
    filter: brightness(50%);
    transition: all 1s;
}

.cancion:hover {
    max-width: 12.5rem;
    min-width: 12.5rem;
    box-shadow: 0 0 3rem var(--secundario) , 0 0 1rem var(--secundario) ;
    transition: all 0.5s;
}

/* Boton play */
.cancion .play{
    position: relative;
    top: -8rem;
    padding: 0.7rem;
    padding-left: 0.8rem;
    height: 3rem;
    width: 3rem;
    visibility: hidden;
    
    border-radius: 50%;
    background-color: var(--secundario);
}

/* Animación play */
.cancion:hover .play {
    visibility: visible;
    height: 3.1rem;
    width: 3.1rem;
    transition: all;
    box-shadow: 0 0 3rem var(--secundario) , 0 0 1rem var(--secundario) ;
}


/* ---------------- Mq tablet -------------------- */
@media (max-width: 768px) {

    /* Canciones en horizontal */
    .cancion {
        max-width: 95%;
        min-width: 95%;
        height: 4rem;
        margin: 0 5%;
        padding: 0;
    }

    /* Boton play */
    .cancion .play{
        position: relative;
        top: 0;
        left: -3.5rem;
        padding: 0.7rem;
        padding-left: 0.8rem;
        height: 3rem;
        width: 3rem;
        visibility: hidden;
        
        border-radius: 50%;
        background-color: var(--secundario);
    }

    /* Fila */
    .fila {
        width: 100%;
        margin: 0;
    }

    /* Titulo */
    .fila h2 {
        font-size: 2rem;
    }

    /* Nombres canciones */
    .cancion h3 {
        padding-right: 2.5rem;
        position: relative;
        top: 0;
        margin-top:0;
    }

    /* Colocacion de canciones en tablet*/
    .canciones {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: auto;
    }

    .cancion {
        display: flex;
        align-items: center;
    }

    .cancion .imagen_cancion {
        height: 4rem;
        width: 4rem;
        border-radius: 1rem 0 0 1rem;
    }

    .cancion .imagen_cancion{
        width: 4.1rem;
        height: 4.1rem;
        transition:  all 0.5s;
    }

    /* Animacion cancion */
    .cancion:hover .imagen_cancion {
        width: 4.1rem;
        height: 4.1rem;
        transition:  all 0.5s;
    }

    .cancion:hover {
        max-width: 90%;
        min-width: 90%;
        height: 4.1rem;
        transition: all 0.5s;
    }

    

}

@media (max-width: 600px) {
    .cancion h3 {
        font-size: 1.2rem;
    }
    .main__header a{
        font-size: 1.2rem;
        padding: 5rem 1rem;
    }
    .nav2 img{
        display: none;
    }


}   



/******************************************** */
/************** Play list ******************** */

#canciones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 10rem;
}

@media (max-width: 768px) {
    #canciones {
        display: flex;
    }
}

.encabezado{
    position: fixed;
    top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    z-index: 1;
    margin-top: 1rem;
}

.cancion h3 {
    z-index: 0;
}

/********************************************** */
/**************** Usuarios seguidos *********** */

.usuarios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10rem;
    gap: 4rem;
}

@media (max-width: 768px) {
    .usuarios {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.usuario img{
    height: 20rem;
    width: 20rem;
    border-radius: 20%;
}

.usuario h3 {
    text-align: center;
    background-color: var(--principal);
    border-radius: 15%;
    padding: 0.5rem;
}


/* Log y registro */
.errores {
    padding: 1rem;
    text-align: center;
}

.botones {
    display: flex;
}

.bottom {
    display: flex;
    align-items: center;
    width: 70%;
}


/* ----------------- Estido de proximos estrenos -------------------- */
/* Imagen de proximos estrenos */
.estreno .imagen_cancion{
    height: 10rem;
    width: 12rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.estreno{
    text-align: center;
    background-color: var(--principal);
    border-radius: 1rem;
    height: 18rem;
    max-width: 12rem;
    min-width: 12rem;

}

/* Titulo de proximos estrenos */
.estreno h3 {
    position: relative;
    top: -1rem;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.4rem;
    color: var(--colorLetra1);
    padding: 0 1rem;
}

/* Contador de proximos estrenos */
.countdowns{
    background-color: var(--secundario);
    position: relative;
    top: -1rem;
    color: var(--principal);
    font-weight: 900;
}
